{{#each this}}

<li class="country-item">
    <img class="counrty-flag" src="{{flags.png}}" alt="{{name.common}}" width="70" height="50">
    <h2 class="country-title">{{name.official}}</h2>
</li>

{{/each}}