* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  width: 400px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 4px 20px;
}

.card:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-flag {
  overflow: hidden;
}

.card-title {
  font-size: 30px;
  text-align: center;
}

.country-item {
  display: flex;
  margin-bottom: 20px;
}

.country-title {
  padding-left: 20px;
}
